.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-app h1{
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    font-weight: 200;
    width: 100%;
    -webkit-text-rendering: optimizeLegibility;
}

/** add todo **/
.add-todo {
    margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
    margin-top: 1em;
    list-style: none;
    overflow: auto;
    padding: 0.5em;
    margin-left: 20em;
    margin-right: 20em;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list li label {
    align-items: center;
    margin-left: 50px;
    flex: 1;
}

.todo-list li [type="checkbox"] {
    margin-right: 20px;
}

.addTodos {
    display: flex;
    justify-content: center;
}

.todo-input {
    min-width: 15rem;
    width: 40vw;

    max-height: 2.5rem;
    background-color: #e1ebfd;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    align-self: center;
}
.todo-input:focus {
    outline: none;
    border: 2px solid rgb(67, 58, 168);
}

.add-btn {
    margin-left: 1rem;
    background-color: #271c6c;
    color: #e1ebfd;
    border-radius: 50%;
    border: 2px solid #e1ebfd;
    font-size: 1.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    box-shadow: 2px 4px 10px #271c6c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn:focus {
    outline: none;
}

.App {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.App h1 {
    display: inline;
    text-align: center;
    margin-bottom: 2rem;
    color: #e1ebfd;

    text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
}